
.contenedor{
    display: flex;
     margin: 0 auto;
     width: 80%;
}
.izquierda{
    width: 80%;
    background-color: #236648;
    font-family: 'Times New Roman';
    color:  black;
    margin: 30px;px
}
.derecha{
    font-family: 'Times New Roman';   
    color: black;
}
body {
    background-color: #236648;

.elemento {
        border: 20px solid red;
      }  }

.izquierda h1 {
        color: black;
      }
.mi-parrafo {
    background-color: #004154;

}
.mi-lista{
background-color:#004154;

}
.mi-lista-ho{
    background-color: #004154;
}
img {
    border: 5px solid #b1697a;
  }

  
 
 body {
    border: 2px solid black;
    margin: 10px;
  }
  
  footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 98%;
    height: 50px;
    background-color: #888869;
 }
  
  
